@charset "utf-8";
/* CSS Document */
 /*The reset CSS starts here*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
a {
	text-decoration:none;
	cursor:pointer;
}

/* The reset CSS ends here */


/* Common CSS starts here */
body {
	font-family:"Trebuchet MS", Helvetica LT Std Light, Sans-Serif, Arial;
	font-style: normal;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	Letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.3;
	font-size:14px; /*13 for Trebuchet MS*/
}

h1 {
	font-family:"Trebuchet MS", Helvetica LT Std Light, Sans-Serif, Arial;
	font-size:22px;
}

body.shadowBackground {
    /*background: url("../images/bgshadow.png") no-repeat scroll center top #FFFFFF;*/

}
/* Common CSS ends here */

/* Specific CSS starts here */

/* Div related CSS */
#container {
	margin:0 auto;
	border: solid #fff 10px;
	border-top: none;
	width:985px;
	padding-left:25px;
	background-image:url(../images/background-shadow.png);
}

#header {
	height:166px;
	background-image:url(../images/ssheader.png);
	background-repeat:no-repeat;
	width:960px;
}

#header_top {
	height:126px;
}

#header_left
{
	float:left;
	width:300px;
	height:131px;
}

#header_right
{

}

#header_top_logo
{
	float:right;
	padding:5px 5px 0px 0px;
	color:white;
	font-size:11px;
}

#header_menu {
	margin:0px 0px 5px 0px;
	float:right;
	font-family:"Trebuchet MS", Helvetica LT Std Light, Sans-Serif, Arial;
}

#menu {
	list-style-type:none;
	display:inline;
	width:100%;
	/*margin-top:40px;*/
	color:white;
}

.menu_item {
	float:left;
	padding: 0px 10px;
z-index: 100;
}

#slide {
	height:308px;
	width:960px;
	margin-top:9px;
    margin-bottom:5px;
	background-color:#f0f0f0;
}

#slides_container {
	height:305px;
	background-color: #f0f0f0;
}

#quote {
	height:133px;
	background-color:#649637;
}

#quote:hover {
	background-color:#496d2a;
}
#content
{
	margin-top:18px;
	float:left;
	overflow:hidden;
}
.expand_link
{
	color:#0C45A5;
	font-size:17px;
}
.expand_link:hover
{
	color:#05A5C5;
}
#main_content
{
	width:730px;
}


#bottom-border {
	width:1010px;
	height:15px;
	margin:-10px auto 0;
}

#bottom-border-left {
	width:15px;
	height:15px;
	float:left;
	background-image:url(../images/background-shadow-bottom-left.png);
}

#bottom-border-mid {
	width:980px;
	height:15px;
	float:left;
	background-image:url(../images/background-shadow-bottom-mid.png);
}

#bottom-border-right {
	width:15px;
	height:15px;
	float:left;
	background-image:url(../images/background-shadow-bottom-right.png);
}


#footer
{
	height:30px;
	width:960px;
	margin:0 auto;
	margin-top:2px;
    margin-bottom:5px;
}
#footer_left
{
	margin-left:15px;
	float:left;
}
#footer_right
{
	float:right;
    margin-top:2px;
}

#content_video span img{
	margin-left:98px;
}
#content_event
{
	width:320px;
	height:178px;
	color:#0C45A5;
	margin-top:10px;
	position:relative;
}

#donate{
    background-image:url(../images/donatebotton960.png);
	background-color:#649637;
    height:104px;
    width:961px;
    margin-right:25px;
	margin-top:28px;
}

#donate:hover{
	background-color:#70b135;
}



/*Div related css ends*/


/* class relate common CSS */
.slider_image{ z-index:0;}
.clear_all
{
	clear:both;
}
.bottomrightfloat
{
	position:absolute;
	right:0px;
	bottom:0px;
}
.content_item {
	width:300px;
	float:left;
	border-right: solid 1px #CCC;
	margin-left:10px;
	color:#2c2e80;
	/* height:325px; */
}
.content_item h1{
	color:#0b0d3a;
}
#content_video{
	width:320px;
	float:left;
	padding-left:10px;
	color:#2c2e80;
	height:250px;
	color:#0C45A5;
	font-size:17px;
	border-bottom:1px solid #CCCCCC;
}
.content_item_video h1{
	color:#0b0d3a;
}
.content_item_last{
	width:300px;
	float:left;
	margin-left:10px;
	height:240px;
	color:#0b0d3a;
	font-size:17px;
}
.content_item_last h1{
	color:#0b0d3a;
}
.news_item
{
	padding:5px 0 0 5px;
	height:125px;
	cursor:pointer;
	margin-right:5px;
	/* margin-top:-20px; */
}

.news_item:hover
{
	background-color:#e8f7db;
}


.news_item_img
{
	float:left;
	width:80px;
	height:125px;
	overflow:hidden;
}
.news_item_img img
{
	width:80px;
	height:120px;
}
.news_item_matter
{
	font-size:14px; /*11px for trebu*/
	width:180px;
	float:left;
	color:#0c45a5;
	line-height:1.4em;
	margin-left:10px;
	text-align:justify;
	font-weight:bold;
}
/********************/
.impact_item
{
	padding:5px 0 0 5px;
	height:80px;
	cursor:pointer;
	margin-right:5px;
}

.impact_item:hover
{
	height:80px;
	background-color:#e8f7db;
}


.impact_item_img
{
	float:left;
	width:53px;
	/* height:31px; */
}
.impact_item_img img
{
	width:65px;
}
.impact_item_matter
{

	/*font-size:13px; 11px for trebu*/
	/*width:195px;
	float:right;
	color:#0b0d3a;
	line-height:1.4em;*/
	font-size:14px; /*11px for trebu*/
	width:170px;
	float:left;
	color:#0c45a5;
	line-height:1.4em;
	margin-left:30px;
	text-align:justify;
}

/********************/
.video_item
{
	padding-top:1px;
	padding-left:5px;
	padding-bottom:2px;
	cursor:pointer;
	height:94px;
}
.video_item:hover
{
	background-color:#E8F7DB;
}
.video_heading
{
	margin-bottom:5px;
	font-size:14px;
	font-weight:bold;
}
.video_thumb
{
	width:100px;
	float:left;

}
.video_thumb img
{
	width:100px;
}
.video_desc
{
	float:left;
	padding-left:10px;
	font-size:14px;
	width:205px;
}
.event_item
{
	padding-top:4px;
	height:38px;
	font-size:14px;
	color:#0C45A5;
}
.event_item:hover
{
	background-color:#e8f7db;
}
.event_date
{
	float:left;
	padding-left:5px;
	width:90px;
	font-weight:bold;
}
.event_desc
{
	float:left;
	width:200px;
}
.width
{
	width:188px;
	height:15px;
	font-size:12px;
}
.center
{
	text-align:center;
}
.other_pages p
{
	text-align:left;
}
.other_pages img
{
	margin:0 auto;
	width:inherit;

}

.content_wrapper
{
	height:390px;
}

.content_wrapper1
{
	height:280px;
}
/**/

.small
{
	font-size:12px;
	font-weight:normal;
}

/*Menu*/
.wrapper1{
	color: #44433f;
	font: 14px "Futura Medium", "Myriad Pro", "Gill Sans", Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 4px 0 0;
	}
	.wrapper1 a{
		color: #E5F2FB;
		text-decoration: none;
	}
	.wrapper1 a:hover {
		color: #09548B;
	}
	.wrapper1 p {
		margin: 0 0 17px;
		padding: 0;
		line-height: 18px;
	}
.wrapper {
	/*width: 710px;*/
	margin: 20px auto;
}
.nav {
	background:none;
	float: right;
	z-index:+5;
}
.nev-wrapper {
	clear: both;
	float: left;
}
.nav-left {
	background:none;
	float: left;
	width: 11px;
	height: 41px;
}
.nav-right {
	background:none;
	float: left;
	width: 11px;
	height: 41px;
}
.nav ul {
	/*width: 648px;*/
	height: 38px;
	float: left;
	margin: 0;
	padding-top: 3px;
	list-style: none;
	font-size: 15px;
}
.nav li {
	float: left;
	padding: 0 7px;
	background:none;
	position: relative;
	z-index: 1;
}
.nav li.last {
	background:none;
}
.nav li:hover {
	z-index:2;
}
.nav li a {
	display: block;
	line-height: 38px;
	overflow: hidden;
	float: left;
}
a .menu-left {
	background: url(../images/menu_left.png) no-repeat left top;
	width: 8px;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
}
a .menu-mid {
	background: url(../images/menu_mid.png) repeat-x top left;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
	color:#FFF;
}
a .menu-right {
	background: url(../images/menu_right.png) no-repeat top left;
	width: 8px;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
}
.nav li a:hover .menu-left,
.nav li.active a .menu-left,
.nav li:hover a .menu-left,
.nav li a:hover .menu-mid,
.nav li.active a .menu-mid,
.nav li:hover a .menu-mid,
.nav li a:hover .menu-right,
.nav li.active a .menu-right,
.nav li:hover a .menu-right {
	background-position: 0 -37px;
	line-height: 35px;
	color:#333;
}
.nav li a:hover,
.nav li.active a,
.nav li.hover a,
.nav li:hover a {
	color: #09548B;
}
.nav li:hover .sub,
.nav li.hover .sub {
	display:block;
}
.nav li .sub {
	display: none;
	position: absolute;
	top: 27px;
	left: 6px;
	background: url(../images/submenu_top.png) no-repeat;
	width: 186px;
	padding-top: 9px;
	color:#666;
}
.nav li ul {
	background: url(../images/submenu_bg.png) repeat-y;
	width: 162px;
	height: auto;
	margin: 0;
	padding: 0 12px 10px;
	list-style: none;
	font-size: 14px;
	color:#333;
}

.nav li:hover li,
.nav li.active li {
	width: 100%;
	padding: 1px 0 2px;
	border-bottom: 1px #C1D9F0 solid;
	background: none !important;
}
.nav li:hover li a,
.nav li.active li a {
	color: #666;
	background: none !important;
	line-height: normal;
	width: 156px;
	padding: 8px 3px 3px;
	text-indent: 1px;
}
.nav li:hover li a:hover,
.nav li.active li a:hover {
	color: #666;
	background: #CCC !important;
	text-decoration: none;
	line-height: normal;
}
/*IE*/
.nav li li a:hover,
.nav li li a:hover {
	color: #333;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}
/**/
.nav .btm-bg {
	background: url(../images/submenu_bottom.png) no-repeat;
	width: 205px;
	height: 9px;
	overflow: hidden;
	clear: both;
}
.content {
	width: 670px;
	float: left;
	padding: 10px 20px;
}
.content h1 {
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px dashed #C1D9F0;
}
.content h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: -5px;
}
.content p {
	padding: 0 15px;
	text-align: justify;
}
.content-bottom {
	width: 710px;
	height: 13px;
	float: left;
}

.sub
{
	z-index:100;
}
#navigation a{
	color: #666;}

#navigation a:hover{
	color:#333;
}

/* Menu ends here */
/*Specific CSS ends here */
