@charset "utf-8";
/* CSS Document */
 /*The reset CSS starts here*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { 
	border:0;
}

/* The reset CSS ends here */


/* Common CSS starts here */
body {
	font-family:"Trebuchet MS", Helvetica LT Std Light, Sans-Serif, Arial;
	font-style: normal;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	Letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	font-size:17px; /*13 for Trebuchet MS*/
}

h1 {
	font-family:"Trebuchet MS", Helvetica LT Std Light, Sans-Serif, Arial;
	font-size:22px;
}

body.shadowBackground {
    margin-top:0px;
    /*background: url("../images/bgshadow.png") no-repeat scroll center top #FFFFFF;*/
	
}
/* Common CSS ends here */

/* Specific CSS starts here */

/* Div related CSS */
a
{
	color:black;
}
/* New border shadow implemented */
/* #container { */
/* 	width:960px; */
/* 	margin:0 auto; */
/* 	border: solid #fff 10px; */
/* 	border-top: none; */
/* 	-moz-box-shadow: #ccc 0px 1px 20px; */
/* 	-webkit-box-shadow: #ccc 0px 1px 20px; */
	
/* 	/\* IE hack for div border *\/ */
/* 	background-color: #fff; */
/* 	zoom: 1; */
/* 	filter: */
/* 	progid:DXImageTransform.Microsoft.Shadow(color='#EEEEEE', Direction=90, Strength=15) */
/* 	progid:DXImageTransform.Microsoft.Shadow(color='#EEEEEE', Direction=135, Strength=15) */
/* 	progid:DXImageTransform.Microsoft.Shadow(color='#EEEEEE', Direction=180, Strength=15); */

/* } */

#container {
	margin:0 auto;
	border: solid #fff 10px;
	border-top: none;
	width:960px;
	padding-left:25px;
	padding-right:25px;
	background-image:url(../images/background-shadow.png);
}

#header {
	height:166px;
	background-image:url(../images/ssheader.png);
	background-repeat:no-repeat;
}

#header_top {
	height:126px;
	
}

#header_left
{
	float:left;
	width:300px;
	height:131px;
}

#header_right
{
 float:right;
}

#header_top_logo
{
	text-align:right;
	padding:5px 5px 0px 0px;
	color:white;
	font-size:11px;
}

#header_menu {
	margin:0px 0px 5px 0px;
	float:right;
	font-family:"Trebuchet MS", Helvetica LT Std Light, Sans-Serif, Arial;
}

#menu {
	list-style-type:none;
	display:inline;
	width:100%;
	/*margin-top:40px;*/
	color:white;
}

.menu_item {
	float:left;
	padding: 0px 10px;	
	z-index: 100;		
}

#slide {
	height:308px;
	width:960px;
	background-image:url(images/slide.jpg);
	margin: 9px 0px;
}

#quote {
	height:133px;
	background-color:#649637;
}

#quote:hover {
	background-color:#496d2a;
}	
#content
{
	padding-top:30px;
/*	float:left;
    moz-box-shadow: #ccc 0px 1px 20px;*/
}
#main_content
{
	width:655px;
	padding-left:15px;
	float:left;
}
#main_content p
{
/*	width:640px; */
	text-align:justify;
	padding:5px;
	font-size:17px;

}
#main_content h3

{
	margin-top:20px;
	font-size:17px;
	font-weight:bold;
}

#main_content h2
{
	font-size:20px;
	font-weight:bold;
	font:"Arial Black", Gadget, sans-serif;
}
#extra_content
{
	margin-top:10px;
	padding-top:10px;
	float:left;
	width:285px;
	border-left: solid #649637 1px;
}
#extra_content h1
{
	color:#30a1d5;
}

#bottom-border {
	width:1010px;
	height:15px;
	margin:-10px auto 0;
}

#bottom-border-left {
	width:15px;
	height:15px;
	float:left;
	background-image:url(../images/background-shadow-bottom-left.png);
}

#bottom-border-mid {
	width:980px;
	height:15px;
	float:left;
	background-image:url(../images/background-shadow-bottom-mid.png);
}

#bottom-border-right {
	width:15px;
	height:15px;
	float:left;
	background-image:url(../images/background-shadow-bottom-right.png);
}


#footer
{
	height:30px;
	width:960px;
	margin:0 auto;
	margin-top:2px
}
#footer_left
{
	margin-left:15px;
	float:left;
}
#footer_right
{
	float:right;
}

#content_video span img{
	margin-left:98px;
}

p{
    line-height:150%;
}
/*Div related css ends*/

/* class relate common CSS */
.clear_all
{
	clear:both;
}

.content_item {
	width:280px;
	border-bottom:solid #649637 1px;
	margin-bottom:10px;
	padding-left:10px;
	color:#2c2e80;
	
}
.content_item h1{
	color:#0b0d3a;
}
.content_item_last{
	width:270px;
	padding-left:10px;
	color:#2c2e80;
	height:240px;
	color:#0b0d3a;
	font-size:15px;
}
.content_item_last h1{
	color:#0b0d3a;
}
.innertitle {
	height:44px;
	width:100%;
	background-color:#649637;
	font-size:51px;
	color:#FFFFFF;
	padding-bottom:1px;
	margin-bottom:30px;
	line-height:36px;
}
.innertitleshortened {
	height:36px;
	width:100%;
	background-color:#649637;
	font-size:40px;
	color:#FFFFFF;
	padding-bottom:1px;
	margin-bottom:30px;
	line-height:28px;
}
.innersubheading {
	font-size:17px;
	font-weight:bold;
	color:#649637;
	line-height:30px;
}
.innertext {
	font-size:17px;
	color:#9A9A9A;
	line-height:26px;
}
.news_item
{
	padding:5px;
}
.news_item_big {
	border-top: solid #eee 1px;
	padding:10px;
}
.news_item_big:hover {
	background-color:#eee;
}
.news_item_img
{
	float:left;
	width:75px;
}
.news_item_img img
{
	width:70px;
	margin-bottom:9px;
}
.news_item_img_big
{
	float:left;
	width:75px;
	margin-right:10px;
}

.news_item_matter
{
	font-size:15px; 
	width:185px;
	float:left;
	color:#999999;
	line-height:18px;
	margin-left:10px;
}
.news_item_matter_big {
	color:#0C45A5;
}
.news_item_matter small
{
	color:#aaa;
}
.news_segment {
	font-size:14px;
}
.width
{
	width:102px;
	height:12px;
}
.center
{
	text-align:center;
}
.other_pages p
{
	text-align:left;
}
.other_pages img
{
	margin:0 auto;
	width:inherit;

}
/**/

/*Menu*/
ul.topnav {
	list-style: none;
	font: Arial;
	padding: 0 0px;
	margin: 0;
	float: left;
	width: 920px;
	/* background: #222; */
	font-size: 12 px;
	/* background: url(../images/topnav_bg.gif) repeat-x; */
}
ul.topnav li {
	float: left;
	font-size:12 px;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	/* background: url(../images/topnav_hover.gif) no-repeat center top; */
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	font-size:12px;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;
}



/* Menu ends here */

/*css for faq page*/
.answer{
    font-size:17px;
    line-height:26px;
	color:#9a9a9a;
	padding:10px 0px 0px 38px;
}

/* Css for research paper page and for similar results page*/
.research{
    font-size:18px;
    line-height:150%;
}

.research a{
    text-decoration:none;
}

.research a:hover{
    color:#006699;
}
/*Specific CSS ends here */
